*,
ul,
li,
a {
  box-sizing: border-box;
  text-decoration: none;
}

#scrollbar::-webkit-scrollbar-track {
  background-color: #cccccc;
}

#scrollbar::-webkit-scrollbar {
  width: 0px;
  background-color: #f5f5f5;
}

#scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(178, 178, 178);
}

.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #ffa800;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.3s;
  transition-delay: 1s;
}
.preloader .counter {
  font-size: 50px;
  font-weight: 900;
  transition: all ease 0.3s;
  transition-delay: 0.5s;
}

.preloader.fadehide {
  height: 0;
}
.preloader.fadehide .counter {
  opacity: 0;
  transform: translateY(30px);
}

.coming-soon {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/coming-soon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.coming-soon .text {
  text-align: center;
}
.coming-soon .text h1 {
  font-size: 60px;
  font-weight: 900;
}
.coming-soon .text p {
  padding: 0 10%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

main {
  width: 380px;
  height: calc(100vh - 90px);
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
  position: relative;
  padding: 10px;
}

.header {
  width: 380px;
  position: fixed;
  bottom: 30px;
  padding: 0 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  width: 60px;
  height: 60px;
}
.header .contact-me {
  display: block;
  text-transform: capitalize;
  color: #7e7e7e;
}

menu {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 30px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  background-color: #ffffff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  border-radius: 30px;
}
menu ul {
  margin: 0;
  padding: 7px 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}
menu ul li {
  list-style: none;
  margin: 0 5px;
  text-transform: capitalize;
}
menu ul li a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 50%;
  color: #222222;
  transition: all ease 0.3s;
}
menu ul li a:hover {
  background-color: #ffba31;
  color: #000000;
}
menu ul li a i {
  font-size: 20px;
}
menu ul li a.active {
  background-color: #ffa800;
  color: #000000;
}

.contact-form {
  margin-bottom: 20px;
}
.contact-form h2 {
  margin: 20px 0 15px 0;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.contact-form p.parag {
  margin-bottom: 20px;
  font-size: 13px;
  color: #7e7e7e;
  text-align: center;
}
.contact-form p.parag span.primary {
  color: #222222;
  font-weight: 500;
}
.contact-form form .item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.contact-form form .item label {
  font-size: 13px;
  margin-bottom: 5px;
}
.contact-form form .item input {
  width: 100%;
  height: 40px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #a0a0a0;
}
.contact-form form .item input:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #ffa800;
}
.contact-form form .item select {
  width: 100%;
  height: 42px;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid #a0a0a0;
}
.contact-form form .item select:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #ffa800;
}
.contact-form form button {
  width: 100%;
  height: 40px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #ffba31;
  border-radius: 10px;
}

#loadingIndicator {
  display: none;
  color: green;
}

.badge {
  display: none;
  height: 40px;
  padding: 15px 0;
  margin-top: 15px;
  border-radius: 10px;
  text-transform: uppercase;
}

.badge.success {
  background-color: green;
  color: white;
}

.badge.error {
  background-color: red;
  color: white;
}

.contact-info {
  width: 100%;
}
.contact-info .cardm a {
  display: block;
  padding: 15px 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.contact-info .cardm a i {
  font-size: 25px;
  color: #ffa800;
  margin-bottom: 12px;
}
.contact-info .cardm a h4 {
  font-size: 15px;
  margin: 0;
  color: #222222;
  text-transform: capitalize;
}
.contact-info .cardm a p {
  font-size: 12px;
  color: #a0a0a0;
  margin: 0;
  display: none;
}

#locationIcon, #phoneIcon {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */
